<?xml version="1.0" ?>
<config>
    <modules>
        <Tutorial_HelloCustomer>
            <version>0.1.0</version>
        </Tutorial_HelloCustomer>
    </modules>
    <frontend>
        <routers>
            <hellocustomer>
                <use>standard</use>
                <args>
                    <module>Tutorial_HelloCustomer</module>
                    <frontName>hellocustomer</frontName>
                </args>
            </hellocustomer>
        </routers>
    </frontend>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <hellocustomer>
                        <title>Hello Customer</title>
                        <sort_order>400</sort_order>
                        <action>adminhellocustomer/adminhtml_index/index</action>
                    </hellocustomer>
                </children>
            </sales>
        </menu>
        <layout>
            <updates>
                <tutorial_hellocustomer>
                    <file>tutorial/hellocustomer.xml</file>
                </tutorial_hellocustomer>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhellocustomer>
                <use>admin</use>
                <args>
                    <module>Tutorial_HelloCustomer</module>
                    <frontName>adminhellocustomer</frontName>
                </args>
            </adminhellocustomer>
        </routers>
    </admin>
    <global>
        <models>
            <hellocustomer>
                <class>Tutorial_HelloCustomer_Model</class>
                <resourceModel>hellocustomer_mysql4</resourceModel>
            </hellocustomer>
            <hellocustomer_mysql4>
                <class>Tutorial_HelloCustomer_Model_Mysql4</class>
                <entities>
                    <hellocustomer>
                        <table>hello_customer</table>
                    </hellocustomer>
                </entities>
            </hellocustomer_mysql4>
        </models>
        <resources>
            <hellocustomer_setup>
                <setup>
                    <module>Tutorial_HelloCustomer</module>
                    <class>Tutorial_HelloCustomer_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hellocustomer_setup>
            <hellocustomer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hellocustomer_write>
            <hellocustomer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hellocustomer_read>
        </resources>
    </global>
    <default>
        <hellocustomer>
            <general>
                <enabled>1</enabled>
            </general>
        </hellocustomer>
    </default>
</config>