<?xml version="1.0" ?>
<config>
    <modules>
        <Tutorial_HelloWorld>
            <version>0.1.0</version>
        </Tutorial_HelloWorld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Tutorial_HelloWorld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
    </frontend>
</config>